// Variables de color
$color-primario: #3F448C;
$color-secundario: #f3a023;
$color-terciario:#28a745;
$color-texto: #4d4d4d;
$color-texto2:#dcdcdc;

// Variables de tamaño
$padding-pequeno: 10px;
$padding-medio: 20px;
$borde-redondeado: 10px;

// Variables de fuente
$fuente-principal: 'Lato', sans-serif;
